@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');
@import url("/css/fontawesome-pro-5.2.0-web/css/fontawesome.min.css");
@import url("/css/fontawesome-pro-5.2.0-web/css/all.min.css");

* {
	box-sizing: border-box;
	font-family: Arial;
	color: #333;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

html, body {height: 100%;}

body {margin: 0;}