php_flag session.cookie_httponly on
php_flag log_errors on
php_flag display_errors off
php_value error_reporting 2147483647
php_value error_log /Users/elvis/Sites/phlex-project/var/log/app.log

Options -Indexes
Options +FollowSymlinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/?(\!?(files|img|css|js|plugin))/?(.*)
RewriteRule . /index.php [L]